<p>- задач мало?</p><p>- <img src="/images/icon/what.png" class="icon"></p><p>- тз написал?</p><p>- <img src="/images/icon/kakoe_tz.png" class="icon"></p>


<p>зашел обсудить дестини, началось обсуждение <img src="/images/icon/1c.png" class="icon"> <br>This is your destiny</p>

<p>Ж: Мне нужно чтобы кто-то подергал</p><p>Д: Ты что, сам не справишься?</p><p>Ж: Нет. Я ведь не так часто прошу. Так, Денис, подергай мне. Я тебя не так часто прошу</p>

Вот рука <img src="/images/icon/if_you_know_what_i_mean.png" class="icon"> она что-то хочет


Надя, иди сюда, я хочу тебе кое-что показать <img src="/images/icon/if_you_know_what_i_mean.png" class="icon"> <img src="/images/icon/you_know.png" class="icon"> 

<p>А: - Каать, Кать</p><p>К: - чЕ?</p><p>А: - <пауза> [игриво] пойдем покажу <img src="/images/icon/you_know.png" class="icon"></p>



<p>Б: И ты такой смотришь - ааа, так вот кто такой Лубковский. Их несколько, Лубковских</p><p>Д: Толстый или тонкий?</p><p>Б: А разница?</p><p>Б: С толстым больше возможностей</p>

Болвари рассказывает про проджект Дешко