extends layout

block content
	style(type='text/css').
		a.nav-link[href='/adm_quotes']  {
			font-weight: bold;
			color: white !important;
		}

	div.container
		div.content
			div.row
				div.col-lg-8
					table.tbl-quotes
						tr.tbl-quotes-adm-th
							th id
							th text
							th img
							th created
							th description
							th author
							th category
							th type
							th
							th
							for quotes in quotesList
								tr.tbl-quotes-adm
									td #{quotes.id}
									td #{quotes.text}
									td #{quotes.img}
									td #{quotes.created}
									td #{quotes.description}
									td #{quotes.author}
									td #{quotes.category}
									td #{quotes.type}
									td <a href='/del_quote?id=#{quotes.id}'><img class='del-icon' src='/images/icon/delete.png' /></a>
									td <a href='/edit_quote?id=#{quotes.id}&author=#{quotes.author_id}&category=#{quotes.category_id}&type=#{quotes.type_id}'><img class='del-icon' src='/images/icon/edit.png' /></a>
			div.form
				p
				hr
				p
				form(method='POST' action='/adm_quotes')
					div
						label(for='text') Text
						textarea.form-control(rows='5' id='text' placeholder='text' name='text')
					div
						label(for='img') Image name
						input.form-control(type='text' id='img' placeholder='img' name='img')
					div
						label(for='created') Created
						input.form-control(type='date' id='created' placeholder='created' name='created')
					div
						label(for='description') Description
						input.form-control(type='text' id='description' placeholder='description' name='description')
					div
						label(for='author_id') Author
						select.form-control(id='author_id' placeholder='author_id' name='author_id')
							for author in authorsList
								<option value='#{author.id}'> #{author.name}</option>
					div
						label(for='category_id') Category
						select.form-control(id='category_id' placeholder='category_id' name='category_id')
							for categorie in categoriesList
								<option value='#{categorie.id}'> #{categorie.name}</option>
					div
						label(for='type_id') Type
						select.form-control(id='type_id' placeholder='type_id' name='type_id')
							for type in typesList
								<option value='#{type.id}'> #{type.name}</option>
					p
					button.btn.btn-primary(type='submit') Save
					p
					p