extends layout

block content

	div.container
		div.content
			div.row
				div.col-lg-8
					p
					p
					h1 Sure?
					for quotes in quotesList
						p Text: #{quotes.text}
						p Image: #{quotes.img}
						p Description: #{quotes.description}
						p Author: #{quotes.author}
						p Category: #{quotes.category}
						p Type: #{quotes.type}
						div.form
							<form method='POST' action='/del_quote?id=#{quotes.id}'>
								p
								button.btn.btn-primary-del(type='submit') Delete
								p
								p