extends layout

block content
	style(type='text/css').
		a.nav-link[href='/ea']  {
			font-weight: bold;
			color: white !important;
		}
		footer{
			visibility: hidden;
		}
		.container{
			text-align:center;
		}
	div.container
		<p>
		<img src='/images/ea/godlike_new.png' />
		<p>
		div
			<img class='ea' src='/images/ea/badly_knew.png' />
			<img class='ea' src='/images/ea/balls.png' />
		div.ea-colored
			<img class='ea' src='/images/ea/dear.png' />
			<img class='ea' src='/images/ea/blue_cat.png' />
		div
			<img class='ea' src='/images/ea/evil_plan.png' />
			<img class='ea' src='/images/ea/evil_plan2.png' />
		div.ea-colored
			<img class='ea' src='/images/ea/kakoe_tz.png' />
			<img class='ea' src='/images/ea/kakoe_tz1.png' />
		div
			<img class='ea' src='/images/ea/so_sad.png' />
			<img class='ea' src='/images/ea/terminator_new.png' />
		div.ea-colored
			<img class='ea' src='/images/ea/u_not_understant.png' />
			<img class='ea' src='/images/ea/u_not_understant1.png' />
		div
			<img class='ea' src='/images/ea/e1.png' />
			<img class='ea' src='/images/ea/e2.png' />
		div.ea-colored
			<img class='ea' src='/images/ea/e3.png' />
			<img class='ea' src='/images/ea/e4.png' />
		div
			<img class='ea' src='/images/ea/godlikeAnalytic2.png' />
			<img class='ea' src='/images/ea/godlikeAnalyticWithPackage.png' />
		div.ea-colored
			<img class='ea' src='/images/ea/godlikeMagic.png' />
			<img class='ea' src='/images/ea/NaKolPosadil.png' />
		div
			<img class='ea' src='/images/ea/godlikeWar.png' />
			<img class='ea' src='/images/ea/godlikeBeginning.png' />
		div.ea-colored
			<img class='ea' src='/images/ea/godlikeShowtime.png' />
		div
			<img class='ea' src='/images/ea/godlikeHours.png' />
		div.ea-colored
			<img class='ea' src='/images/ea/analyticLoveKids.png' />
			<img class='ea' src='/images/ea/pusheenAnalyst.png' />
		div
			<img class='ea' src='/images/ea/golikeSnake.png' />
			<img class='ea' src='/images/ea/maskot.png' />