extends layout

block content
	script(src='/javascripts/edit_q.js')
	style(type='text/css').
		a.nav-link[href='/adm_quotes']  {
			font-weight: bold;
			color: white !important;
		}

	div.container
		div.content
			div.form
				p
				p
				for quotes in quotesList
					form(method='POST' action='/edit_quote')
						div
							label(for='text') Text
							textarea.form-control(rows='3' id='text' placeholder='text'  name='text')
							<input class='form-control' type='hidden' id='txt' value='#{quotes.text}' name='txt'>
							<input class='form-control' type='hidden' id='id' value='#{quotes.id}' name='id'>
						div
							label(for='img') Image name
							<input class='form-control' type='text' id='img' value='#{quotes.img}' placeholder='img' name='img'>
						div
							label(for='created') Created MM/dd/yyyy
							<input class='form-control' type='date' id='created' value='#{quotes.created}' placeholder='created' name='created'>
						div
							label(for='description') Description
							<input class='form-control' type='text' id='description' value='#{quotes.description}' placeholder='description' name='description'>
						div
							label(for='author_id') Author
							select.form-control(id='author_id' placeholder='author_id' name='author_id')
								for author in authorsList
									<option value='#{author.id}'> #{author.name}</option>
						div
							label(for='category_id') Category
							select.form-control(id='category_id' placeholder='category_id' name='category_id')
								for categorie in categoriesList
									<option value='#{categorie.id}'> #{categorie.name}</option>
						div
							label(for='type_id') Type
							select.form-control(id='type_id' placeholder='type_id' name='type_id')
								for type in typesList
									<option value='#{type.id}'> #{type.name}</option>
						p
						button.btn.btn-primary(type='submit') Update
						<a class='btn-primary-cancel' href='/adm_quotes'>Cancel</a>