extends layout

block content
	style(type='text/css').
		a.nav-link[href='/']  {
			font-weight: bold;
			color: white !important;
		}
		footer{
			visibility: hidden;
		}
	div.container
		h1 #{error.message}
		<img src='/images/ptichka.png' />