extends layout

block content
	style(type='text/css').
		a.nav-link[href='/']  {
			font-weight: bold;
			color: white !important;
		}
		footer{
			visibility: hidden;
		}
		.container{
			text-align:center;
		}
	div.container
		<img src='/images/jirateam.png' />
