doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href='/stylesheets/vendor/bootstrap/css/bootstrap.min.css')
		link(rel="stylesheet", href='/stylesheets/btcss.css')
		script(src='/stylesheets/vendor/jquery/jquery.min.js')
		script(src='/stylesheets/vendor/bootstrap/js/bootstrap.bundle.min.js')
	body
		nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
			.container
				a.navbar-brand(href='/') Wof
				button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
					span.navbar-toggler-icon
				#navbarResponsive.collapse.navbar-collapse
					ul.navbar-nav.ml-auto
						li.nav-item
							a.nav-link(href='/') Home
						li.nav-item
							a.nav-link(href='/users') Users
						li.nav-item
							a.nav-link(href='/quotes') Quotes
						li.nav-item
							a.nav-link(href='/adm_quotes') Adminka
						li.nav-item
							a.nav-link(href='/ea') EA
		block content

		footer.py-5.bg-dark
			// .container
			p.m-0.text-center.text-white Copyright © jira-team 2018-2019
