extends layout

block content
	style(type='text/css').
		a.nav-link[href='/quotes']  {
			font-weight: bold;
			color: white !important;
		}
	link(rel="stylesheet", href='http://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.css')
	script(src='http://code.jquery.com/jquery-1.11.0.min.js')
	script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
	script(src='http://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.pack.min.js')
	script(src='/javascripts/img_resize.js')

	div.container
		div.row
			div.col-lg-8
				table.tbl-quotes
					for quotes in quotesList
						tr
							td
								<a href='/quotes?author=#{quotes.author_id}'>
									<img class='userlogo' src='/images/#{quotes.icon}' /></a>		
							td
								<a href='/quotes?author=#{quotes.author_id}'>#{quotes.author}</a>
							if quotes.description && quotes.img
								td 
									<img id='myImg#{quotes.id}' src='/images/gq_img/s-#{quotes.img}' class='gq_img fancybox' data-big='/images/gq_img/#{quotes.img}'>
									p.descr !{quotes.description}
							else if quotes.img
								td
									<img id='myImg#{quotes.id}' src='/images/gq_img/s-#{quotes.img}' class='gq_img fancybox' data-big='/images/gq_img/#{quotes.img}'>
							else if quotes.description
								td !{quotes.text} 
									p.descr !{quotes.description}
							else
								td !{quotes.text}
							td #{quotes.created}
							td
								<a href='/quotes?category=#{quotes.category_id}'><img class='achieve_img' src='/images/#{quotes.category_img}' /></a>
			div.col-md-4
				div.card.my-4
					div.card-body
						ul.list-unstyled.mb-0
							for types in typesList
								li 									 
									if typesList.length == 1
										span.filter_label
											<a class='a_inactive' href='/quotes?type=#{types.id}'>#{types.name}</a>  <a class='item-delete' href='/quotes'>&#215;</a>
									else
										<a href='/quotes?type=#{types.id}'>#{types.name}</a>