doctype html
html
	head
		title= title		
		link(rel="stylesheet", href='/stylesheets/test.css')
		link(rel="stylesheet", href='/stylesheets/spectrum.css')
		link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel="stylesheet", href='/stylesheets/jquery.memegenerator.min.css')
		link(rel="stylesheet", href='https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
		script(src='/javascripts/jquery.memegenerator.min.js')
		script(src='/javascripts/test.js')
		script(src='/javascripts/spectrum.js')
	body
		div.example.save
			<img src='/images/ea/evil plan.png' id='example-save' />
			div#toolbar
			div.container
				div.row
					div.col-md-4
						button.btn.btn-danger#download Download