extends layout

block content
	style(type='text/css').
		a.nav-link[href='/users']  {
			font-weight: bold;
			color: white !important;
		}

	div.container
		div.row
			div.col-lg-8
				table.tbl-user
					for user in usersList
						tr
							td
								<a href='/quotes?author=#{user.id}'>
									<img class='userlogo' src='/images/#{user.icon}' /></a>				
							td
								<a href='/quotes?author=#{user.id}'>#{user.name}</a>
							td #{user.description}
							td.num_special_font #{user.num}
							if user.lead
								td.no_border_td
									<img class='achieve_img' src='/images/lead.png' title='leader'/>
							if user.img
								td.no_border_td
									<img class='achieve_img' src='/images/#{user.img}' title='#{user.ach_name}'/>
			div.col-md-4
				div.card.my-4
					div.card-body
						ul.list-unstyled.mb-0
							for types in typesList
								li 									 
									if typesList.length == 1
										span.filter_label
											<a class='a_inactive' href='/users?type=#{types.type}'>#{types.type}</a>  <a class='item-delete' href='/users'>&#215;</a>
									else
										<a href='/users?type=#{types.type}'>#{types.type}</a>

