@font-face {
    font-family: South-Park-Cyrillic; /* Имя шрифта */
    src: url(/11535.ttf); /* Путь к файлу со шрифтом */
   }

.tbl-user {
	margin-top: 20px;
	margin-bottom: 20px;
}

.tbl-user td{
	padding: 10px;
}

.tbl-user td{
	border-bottom: #e5eaef;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.tbl-quotes-adm td{
	border: solid;
	border-color: #e5eaef;
	border-width: 1px;
	padding-right: 5px;
	padding-left: 5px;
}

.tbl-quotes-adm-th th{
	border: solid;
	border-color: #e5eaef;
	border-width: 1px;
	background-color: #343a40;
	color: #fff;
	padding-right: 5px;
	padding-left: 5px;
}

.no_border_td{
	border-bottom: none !important;
}

.num_special_font{
	font-family: South-Park-Cyrillic;
	/*font-weight: bold;*/
}

.userlogo{
	width: 50px;
	height: 50px;
	border-radius: 5px;
}

img[src="/images/"] {
	visibility: hidden;
}

img[src="/images/gq_img/"] {
	visibility: hidden;
}

.tbl-quotes{
	margin-top: 20px;
	margin-bottom: 20px;
}

.tbl-quotes td{
	padding: 10px;
}

.tbl-quotes td p{
	margin-bottom: 0px;
}

.tbl-quotes tr{
	border-bottom: #e5eaef;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.icon{
	width: 32px;
	height: 32px;
}

.del-icon{
	width: 25px;
	height: 25px;
}

.gq_img{
	max-width: 600px;
	max-height: 300px;
}

.achieve_img{
	width: 40px;
	height: 40px;
}


/* chats */
.dialog {
    /*border: 1px solid #dedede;*/
    background-color: #f1f1f1;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.dialog::after {
    content: "";
    clear: both;
    display: table;
}

.dialog img {
    float: left;
    max-width: 30px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.dialog img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.descr{
	color: gray;
	font-size: 0.75rem;
}

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.col-md-4{
	left:25%;
}

.card.my-4{
	position: fixed;
	width: 150px;
}

.filter_label{
	background-color: #d4e7f3;
	padding: 0px 5px 3px 5px;
	border-radius: 7px;
}

.a_inactive{
	cursor: text;
	text-decoration: none;
}
.a_inactive:hover{
	cursor: text;
	text-decoration: none;
	color: #007bff;
}

.item-delete:hover {
    text-decoration: none;
}

.code{
	font-family: Consolas;
}
.content{
	min-height: 794px;
}
.form-control{
	width: 500px !important;
}
.btn-primary-del{
	color: #fff;
    background-color: #e4334e;
    border-color: #bf1d40;
}
.btn-primary-cancel{
	margin-left: 15px;
	color: #bf1d40;
}


/* for img resize on click  */

a.fancybox img {
    border: none;
    box-shadow: 0 1px 7px rgba(0,0,0,0.6);
    -o-transform: scale(1,1); -ms-transform: scale(1,1); -moz-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
} 
a.fancybox:hover img {
    position: relative; z-index: 999; -o-transform: scale(1.03,1.03); -ms-transform: scale(1.03,1.03); -moz-transform: scale(1.03,1.03); -webkit-transform: scale(1.03,1.03); transform: scale(1.03,1.03);
}


.ea{
	padding-top: 20px;
	padding-bottom: 20px;
}

.ea-colored{
	background-color: #d2d2d2;
}