h2 {
			display: block;
			text-align: center;
		}
		
		.example {
			margin: 0 0 10% 0;
		}
		
		.bootstrap {
			width: 600px;
			margin-right: auto;
			margin-left: auto;
		}
		
		.save button {
			display: block;
			width: 100%;
			margin-bottom: 15px;
			font-size: 24px;
		}
		
		#preview {
			min-height: 200px;
			background-color: #EFEFEF;
            font-family: monospace;
            overflow-y: auto;
		}
		#preview img {
			max-width: 100%;
		}